*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  /* see: https://datacadamia.com/web/css/grid/overflow */
  min-width: 0;
}

/* https://www.abeautifulsite.net/posts/flash-of-undefined-custom-elements/ */
:not(:defined) {
  visibility: hidden;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  cursor: default;
  tab-size: 4;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-bg-hover);
  opacity: 1;
}

[hidden] {
  display: none !important;
}

html,
body {
  margin: 0;
}

/* Small devices */
@media (min-width: 576px) {
  :root {
    --font-size: var(--font-size-sm);
  }

  .container,
  .container-fluid {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
  }
}

/* Medium devices */
@media (min-width: 768px) {
  :root {
    --font-size: var(--font-size-md);
  }
}

/* Large devices */
@media (min-width: 992px) {
  :root {
    --font-size: var(--font-size-lg);
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
  :root {
    --font-size: var(--font-size-xl);
  }
}
