gui-object {
  --gui-object-font-size: var(--font-size);
  --gui-object-font-family: var(--font-family);
  --gui-object-table-min-height: 400px;
  --gui-object-column-gap: 12px;
  --gui-object-row-gap: 2px;
}

.gui-object {
  display: grid;
}

.gui-object.gui-object-grid {
  align-content: start;
  grid-template-columns: auto 1fr;
  column-gap: var(--gui-object-column-gap);
  row-gap: var(--gui-object-row-gap);
}

.gui-object-card {
  display: grid;
  grid-template-rows: auto 1fr;
}

.gui-object-card::part(body) {
  padding: 0;
}

.gui-object-card > .gui-object {
  padding: var(--spacing);
}

.gui-object > gui-table {
  min-height: 250px;
}

gui-object .gui-object-value > sl-details {
  margin: 0;
  border: none;
  padding: 0;
}

gui-object > code {
  width: fit-content;
}

gui-object .gui-object-value > sl-details::part(header) {
  transition: all 0.3s ease;
  line-height: 1rem;
}

gui-object .gui-object-value > sl-details:not([open])::part(header) {
  color: var(--muted-color);
}

gui-object .gui-object-value > sl-details::part(content) {
  padding: 0;
}

gui-object .gui-object-value > sl-details > .gui-object-card::part(base) {
  border-width: 0;
}
