gui-task-running-list .table-style {
  width: 100%;
  margin-bottom: 10px;
}

gui-task-running-list .table-style tbody tr:hover {
  background-color: rgba(var(--base-1), 0.8);
}

gui-task-running-list .cancel-task-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

gui-task-running-list .cancel-task-button:hover {
  background-color: #d32f2f;
}
