h1 {
  --font-size: 28px;
  --typography-spacing-vertical: 25px;
}

h2 {
  --font-size: 25px;
  --typography-spacing-vertical: 22px;
}

h3 {
  --font-size: 21px;
  --typography-spacing-vertical: 20px;
}

h4 {
  --font-size: 18px;
  --typography-spacing-vertical: 18px;
}

h5 {
  --font-size: 16px;
  --typography-spacing-vertical: 16px;
}

h6 {
  --font-size: 14px;
  --typography-spacing-vertical: 6px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size);
  margin: var(--typography-spacing-vertical) 0;
}