gui-csv-format .gui-csv-format__grid-container {
  display: grid;
  grid-auto-rows: minmax(1fr, auto);
  grid-gap: var(--spacing);
}

gui-csv-format .gui-csv-format__grid-container-item {
  padding: var(--spacing);
  text-align: center;
}