gui-heatmap-tooltip {
  --font-size: 12px;
}

.label-on-left {
  --label-width: 150px;
  --gap-width: 1rem;
}

.label-on-left + .label-on-left {
  margin-top: var(--sl-spacing-medium);
}

.label-on-left::part(form-control) {
  display: grid;
  grid: auto / var(--label-width) 1fr;
  gap: var(--sl-spacing-3x-small) var(--gap-width);
  align-items: center;
}

.label-on-left::part(form-control-label) {
  text-align: right;
}

.label-on-left::part(form-control-help-text) {
  grid-column-start: 2;
}
