gui-user-roles > table > thead > tr > th:last-child {
  width: 85px;
}

gui-user-roles tbody tr td code {
  margin-right: 5px;
  text-wrap: nowrap;
}

gui-user-roles tbody tr td code:last-child {
  margin-right: 0;
}

gui-user-roles thead tr th button,
gui-user-roles tbody tr td button {
  margin-bottom: 0;
}

gui-user-roles table > caption {
  text-align: left;
  font-weight: bolder;
  border-bottom: 1px solid var(--bg-2);
}