gui-roles {
  display: contents;

  sl-card::part(header) {
    --border-width: 0;
  }

  sl-card::part(body) {
    padding: 0;
  }

  gui-table {
    min-height: var(--gui-users-table-min-height);

    > gui-search-input::part(base) {
      border-radius: 0;
    }
  }

  gui-tbody-row:hover {
    cursor: pointer;
  }

  gui-tbody-cell sl-tag {
    padding-right: var(--spacing);
  }

  gui-tbody-cell sl-tag:last-child {
    padding-right: 0;
  }
}

gui-role-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
