gui-periodic-task-list {
  > table {
    margin-bottom: 0;

    > thead > tr > th:last-child,
    > tbody > tr > td:last-child {
      text-align: right;
    }

    > tbody tr:nth-child(odd):hover,
    > tbody tr:nth-child(even):hover {
      cursor: pointer;
      background-color: rgba(var(--base-1), 0.8);
    }
  }

  .gui-periodic-task-dialog {
    --width: 95vw;
    --fieldset-label-width: 150px;

    > article {
      > div {
        padding: var(--spacing);

        .gui-input-labelled-fieldset > label {
          width: var(--fieldset-label-width);
        }
      }
    }
  }
}

@media (min-width: 992px) {
  gui-periodic-task-list {
    .gui-periodic-task-dialog {
      --width: 650px;
    }
  }
}
