:host {
  --section-padding-top: var(--spacing);
  --section-guide-width: 1px;

  display: contents;
}

sl-tree {
  --indent-guide-width: var(--section-guide-width);
}

sl-tree-item > a {
  padding: 2px 4px;
}

/* sl-tree-item.section {
  padding: var(--section-padding-top);
} */
