div[slot='main'] {
  overflow: auto;
}

.app-actions {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: calc(var(--spacing) * 2);
  align-items: center;
  overflow: scroll;
}

.app-actions-left,
.app-actions-right {
  display: flex;
  gap: calc(var(--spacing) * 2);
  align-items: center;
}
