:host {
  display: contents;
}

div[slot='main'] {
  overflow: auto;
}

.actions {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  flex: 1;
  gap: calc(var(--spacing) * 2);
  align-items: center;
}
