gui-csv-statistics {
  display: block;

  table > thead > tr > th,
  table > tbody > tr > td {
    border-right: var(--border-width) solid var(--table-border-color);
  }

  table > thead > tr > th:not(:first-child) {
    border-top: var(--border-width) solid var(--table-border-color);
  }

  table > tbody > tr:last-child > td {
    border-bottom: var(--border-width) solid var(--table-border-color);
  }

  table > tbody > tr > td:first-child {
    border-left: var(--border-width) solid var(--table-border-color);
  }

  > dialog {
    > article {
      min-width: 700px;

      > gui-tabs {
        height: 400px;

        > gui-panel[data-tab='Statistics'] {
          padding: var(--spacing);
        }
      }
    }
  }
}
