sl-input {
  display: block;
}

/* user invalid styles */
sl-input[data-user-invalid]::part(base) {
  border-color: var(--sl-color-danger-600);
}

[data-user-invalid]::part(form-control-label),
[data-user-invalid]::part(form-control-help-text) {
  color: var(--sl-color-danger-700);
}

sl-input:focus-within[data-user-invalid]::part(base) {
  border-color: var(--sl-color-danger-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/* User valid styles */
sl-input[data-user-valid]::part(base) {
  border-color: var(--sl-input-border-color);
}

[data-user-valid]::part(form-control-label),
[data-user-valid]::part(form-control-help-text) {
  color: var(--sl-color-primary-700);
}

sl-input:focus-within[data-user-valid]::part(base) {
  border-color: var(--sl-color-primary-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-primary-300);
}

sl-checkbox {
  --sl-input-required-content: '';
}
