gui-input,
gui-input-string,
gui-input-number,
gui-input-bool,
gui-input-enum {
  display: contents;
}

gui-input-object,
gui-input-fn {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: var(--spacing);

  >label {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;
  }
}

gui-input-array {
  border: solid 1px var(--sl-color-gray-200);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  gui-input-any::before {
    content: '•';
    padding: 0 var(--spacing);
    align-self: center;
  }

  >div {
    margin-left: var(--spacing);
    display: flex;
    gap: var(--spacing);
  }
}

gui-input-map {
  >div {
    margin-left: var(--spacing);
    display: flex;
    align-items: center;
    gap: var(--spacing);
  }
}

gui-input-duration {
  display: flex;
  align-items: center;
  gap: 0;

  gui-input-number sl-input::part(base) {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: none;
  }

  >gui-searchable-select sl-input::part(base) {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}




gui-input-any {
  display: flex;
  gap: 0;

  sl-input::part(base) {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  gui-searchable-select sl-input::part(base) {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--sl-color-gray-200);
  }

  >gui-searchable-select sl-input::part(base) {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: none;
  }
}




.gui-input-attr-name,
.gui-input-param-name {
  font-size: var(--sl-font-size-medium);
  line-height: var(--sl-font-size-medium);
}

.gui-input-attr-type,
.gui-input-param-type {
  font-size: var(--sl-font-size-small);
  line-height: var(--sl-font-size-small);
  color: var(--sl-color-gray-500);
}