:host {
  display: flex;

  /* Remove button */
  > sl-button {
    padding: 0 var(--spacing);
    align-self: center;
  }

  > div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: var(--spacing);

    > label {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 2px;
    }
  }

  > sl-input + div {
    padding-left: var(--spacing);
    border-left: var(--sl-color-primary-100) solid var(--spacing);
  }

  .gui-input-attr-name,
  .gui-input-param-name {
    font-size: var(--sl-font-size-medium);
    line-height: var(--sl-font-size-medium);
  }

  .gui-input-attr-type,
  .gui-input-param-type {
    font-size: var(--sl-font-size-small);
    line-height: var(--sl-font-size-small);
    color: var(--sl-color-gray-500);
  }
}
