gui-csv-format-column .gui-csv-format-column__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

gui-csv-format-column .gui-csv-format-column__info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

gui-csv-format-column .gui-csv-format-column__label {
  text-align: left;
}

gui-csv-format-column .gui-csv-format-column__percentage {
  text-align: right;
  margin-left: 10px;
}

gui-csv-format-column .gui-csv-format-column__progress-bar {
  width: 100%;
  margin-top: 10px;
}
