:host {
  display: contents;
}

gui-card::part(header) {
  --border-width: 0;
}

gui-card::part(body) {
  padding: 0;
}

gui-table {
  min-height: var(--gui-table-min-height);
}

gui-table > gui-search-input::part(base) {
  border-radius: 0;
}

gui-tbody-row:hover {
  cursor: pointer;
}
