:host {
  --gui-panel-display: grid;
  --gui-panel-hidden: none;

  display: grid;
  grid-template-rows: auto 1fr;
}

.tabs {
  display: flex;
  gap: calc(var(--spacing) / 2);
}

.tabs:first-child {
  margin-left: 3px;
}
