:host {
  display: contents;
}

gui-card::part(header) {
  --border-width: 0;
}

gui-card::part(body) {
  padding: 0;
}

gui-table {
  --table-cell-cursor: pointer;
  min-height: var(--gui-table-min-height);
}

gui-table::part(filter-base) {
  border-radius: 0;
}
