gui-donut {
  width: 100%;
  height: 100%;
  position: relative;
}
gui-donut .svg-plot {
  position: absolute;
}
gui-donut .pie-info {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: 50%;
}
gui-donut .pie-info.no-data {
  color: var(--gui-color-9, "inherit");
}
gui-donut .pie-info .pie-info-percent {
  color: rgba(var(--text-0), 0.3);
}
gui-donut .pie-label {
  fill: rgb(var(--text-0));
}
gui-donut .pie-label-line {
  stroke: rgb(var(--text-0));
}
gui-donut .pie-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
