gui-searchable-select {
  --gui-searchable-select-list-z-index: 1000;
  --gui-searchable-select-list-bg: var(--bg-1);
  --gui-searchable-select-list-item-hover: var(--bg-2);
  --gui-searchable-select-list-item-selected-color: var(--primary);
  --gui-searchable-select-list-item-selected-bg: var(--bg-0);

  position: relative;
  display: block;

  sl-icon {
    background-size: contain;
    background-image: var(--icon-search);
  }

  &.open {
    > sl-input::part(base) {
      border-bottom-left-radius: 0;
    }
  }

  .gui-searchable-select-list {
    z-index: var(--gui-searchable-select-list-z-index);
    position: absolute;
    width: 100%;
    max-height: 400px;
    padding: var(--spacing);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--gui-searchable-select-list-bg);
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    border: var(--border-width) solid var(--border-color);

    > div {
      font-weight: normal;
      line-height: normal;
      pointer-events: auto;
      border-bottom: 1px solid var(--border-color);
      padding: 2px 4px;
      width: 100%;

      &:hover {
        background-color: var(--gui-searchable-select-list-item-hover);
        cursor: pointer;
      }

      &.hidden {
        display: none;
      }

      &.selected {
        color: var(--gui-searchable-select-list-item-selected-color);
        background-color: var(--gui-searchable-select-list-item-selected-bg);
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
