gui-searchable-select {
  --gui-searchable-select-list-z-index: 1000;
  --gui-searchable-select-list-bg: var(--bg-1);
  --gui-searchable-select-list-item-hover: var(--bg-2);
  --gui-searchable-select-list-item-selected-color: var(--primary);
  --gui-searchable-select-list-item-selected-bg: var(--bg-2);

  position: relative;
  display: block;

  .gui-searchable-select-input {
    width: 100%;
    margin-bottom: 0;
  }

  sl-icon {
    background-size: contain;
    background-image: var(--icon-search);
  }

  .gui-searchable-select-list {
    z-index: var(--gui-searchable-select-list-z-index);
    position: absolute;
    width: 100%;
    max-height: 400px;
    padding: var(--spacing);
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--gui-searchable-select-list-bg);
    display: flex;
    flex-direction: column;
    pointer-events: auto;

    & div {
      margin-bottom: 0;
      pointer-events: auto;

      &:hover {
        background-color: var(--gui-searchable-select-list-item-hover);
        cursor: pointer;
      }

      &.hidden {
        display: none;
      }

      &.selected {
        color: var(--gui-searchable-select-list-item-selected-color);
        background-color: var(--gui-searchable-select-list-item-selected-bg);
      }
    }
  }
}