.gui-histogram-heatmap-container {
  height: 100%;
  width: 100%;
  position: relative;

  gui-chart svg {
    display: none;
  }

  .gui-histogram-heatmap-x-histogram {
    height: 100px;
    padding-right: 100px;

    gui-chart {
      --m-left: 60px;
      --m-right: 100px;
      --m-bottom: 0px;
    }
  }
  .gui-histogram-heatmap-y-histogram {
    display: flex;
    height: calc(100% - 100px);
    width: 100%;

    gui-chart {
      position: absolute;
      transform: rotate(90deg) translateX(100%);
      transform-origin: top right;
      width: 100px;
      height: 100%;

      --m-right: 25px;
      --m-left: 10px;
    }

    gui-heatmap {
      height: 100%;
      width: calc(100% - 100px);
    }
  }
}
