gui-heatmap {
  /* margin variables, can only be pixels */
  --m-top: 10px;
  --m-right: 60px;
  --m-bottom: 25px;
  --m-left: 60px;

  /* color scale margin variables, can only be pixels */
  --color-scale-m-right: 40px;

  --gui-heatmap-height: 100%;

  user-select: none;
  display: block;
  height: var(--gui-heatmap-height);
  overflow: hidden;
}

/* tooltip */
gui-heatmap-tooltip {
  --font-size: 10px;
  --border-color: rgb(var(--neutral-0));
  font-size: var(--font-size);

  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  column-gap: var(--spacing);

  position: absolute;
  background-color: rgb(var(--base-1));
  padding: var(--spacing);
  border: var(--border-width) solid var(--border-color);
  overflow: hidden;

  .gui-heatmap-tooltip-value {
    justify-self: end;
  }
}
