gui-heatmap {
  /* margin variables, can only be pixels */
  --m-top: 10px;
  --m-right: 60px;
  --m-bottom: 25px;
  --m-left: 60px;

  /* color scale margin variables, can only be pixels */
  --color-scale-m-right: 40px;
}

/* tooltip */
gui-heatmap .gui-chart-tooltip {
  font-size: 10px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;

  /* background-color: rgb(var(--base-1)); */
  /* padding: 0.5em; */
  /* border: 1px solid rgb(var(--neutral-0)); */
  background-color: rgb(var(--base-1));
  padding: var(--spacing);
  border: 1px solid rgb(var(--neutral-0));
}

gui-heatmap .gui-chart-tooltip-value {
  padding-left: 1em;
  justify-self: start;
  justify-self: end;
}