gui-heatmap {
  /* margin variables, can only be pixels */
  --m-top: 10px;
  --m-right: 40px;
  --m-bottom: 25px;
  --m-left: 40px;

  /* color scale margin variables, can only be pixels */
  --colorscale-m-top: 10px;
  --colorscale-m-right: 40px;
  --colorscale-m-bottom: 25px;
  --colorscale-m-left: 40px;
}
