:host {
  display: contents;
}

.layout__base {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--spacing);
}

.layout__menu {
  background-color: var(--bg-2);
}

.layout__body {
  background-color: var(--bg-1);
}
