.body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

sl-card.noPadding::part(body) {
  padding: 0;
}

.paletteContainer {
  display: flex;
  gap: calc(var(--spacing) * 4);
  flex-wrap: wrap;

  .palette {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-0);
    gap: var(--spacing);
    border: var(--border-width) solid var(--border-color);
    padding: var(--spacing);
    overflow: hidden;
    word-break: break-all;

    > div {
      display: flex;
      justify-content: space-between;

      .colorName {
        text-overflow: ellipsis;
      }
      .colorSquare {
        width: 40px;
      }
    }
  }
}
