:host {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: var(--spacing);
}

sl-button {
  align-self: flex-end;
}

sl-select::part(listbox) {
  width: fit-content;
}

sl-input::part(form-control-label),
sl-select::part(form-control-label) {
  color: var(--text-muted);
}
