gui-chart2 {
  --m-left: 50;
  --m-top: 30;
  --m-right: 50;
  --m-bottom: 30;
  --m-right-empty: 10px;
  --m-left-empty: 10px;

  --cursor-c: rgb(var(--accent-0));
  --cursor-line-c: rgb(var(--neutral-0));
  --cursor-bg-c: rgb(var(--base-1));
}
