.token.keyword {
  color: #d55fde;
}

.token.function {
  color: #61afef;
}

.dark .token.pragma,
.dark .token.type-ident {
  color: #e5c07b;
}

.token.pragma,
.token.type-ident {
  color: #b34e0b;
}

.token.enter-tpl,
.token.string,
.token.exit-tpl {
  color: #89ca78;
}

.token.enter-inter,
.token.exit-inter {
  color: #ef596f;
}

.token.number {
  color: #d19a66;
}

.token.comment {
  color: #7f848e;
}

.token.ident {
  color: var(--vp-c-text-1);
}