gui-csv-column-statistics .gui-csv-column-statistics__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

gui-csv-column-statistics .gui-csv-column-statistics__info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

gui-csv-column-statistics .gui-csv-column-statistics__label {
  text-align: left;
}

gui-csv-column-statistics .gui-csv-column-statistics__percentage {
  text-align: right;
  margin-left: 10px;
}

gui-csv-column-statistics .gui-csv-column-statistics__progress-bar {
  width: 100%;
  margin-top: 10px;
}
