dialog > article,
article {
  --block-spacing-horizontal: 0;
  --block-spacing-vertical: 0;

  > header {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);
    font-weight: bold;

    a {
      font-weight: normal;
    }

    button {
      width: fit-content;
      margin-bottom: 0;
    }
  }

  > :is(header, footer) {
    padding: var(--spacing);
  }
}

sub,
sup {
  font-size: 11px;
}

small {
  --font-size: 12px;
}

h1 {
  --font-size: 28px;
  --typography-spacing-vertical: 2rem;
}

h2 {
  --font-size: 25px;
  --typography-spacing-vertical: 1.8rem;
}

h3 {
  --font-size: 21px;
  --typography-spacing-vertical: 1.6rem;
}

h4 {
  --font-size: 18px;
  --typography-spacing-vertical: 1.4rem;
}

h5 {
  --font-size: 15px;
  --typography-spacing-vertical: 1.2rem;
}

h6 {
  --font-size: 1rem;
  --typography-spacing-vertical: 1rem;
}

:where(dl, ol, ul) li {
  margin-bottom: 0;
}

:not(thead, tfoot) > * > td {
  --font-size: 12px;
}

input:not([type='submit'], [type='button'], [type='reset'])[disabled],
select[disabled],
textarea[disabled],
:where(fieldset[disabled])
  :is(input:not([type='submit'], [type='button'], [type='reset']), select, textarea) {
  pointer-events: initial;
}

input:not(:is([type='checkbox'], [type='radio'], [type='range'], [type='file']))[type='search']:not(
    :is(
        :lang(ae),
        :lang(ar),
        :lang(arc),
        :lang(bcc),
        :lang(bqi),
        :lang(ckb),
        :lang(dv),
        :lang(fa),
        :lang(glk),
        :lang(he),
        :lang(ku),
        :lang(mzn),
        :lang(nqo),
        :lang(pnb),
        :lang(ps),
        :lang(sd),
        :lang(ug),
        :lang(ur),
        :lang(yi)
      )
  ) {
  padding-left: calc(var(--form-element-spacing-horizontal) + 2.2rem);
}

code,
kbd {
  padding: 0.25rem 0.35rem;
}

pre,
pre > code {
  color: var(--text-0);
}

thead th,
thead td,
tfoot th,
tfoot td {
  --border-width: 2px;
}

details {
  --border-color: var(--border-color);
  border-bottom: none;
  padding-bottom: 0;
}
details > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: normal;
  margin-bottom: 0;
  padding: calc(var(--spacing) * 0.5);
  background-color: var(--bg-1);
}
details[open] > summary {
  margin-bottom: 0;
}
details[open] {
  border: var(--border-width) solid var(--border-color);
}
details summary[role='button']::after {
  background-image: var(--icon-chevron-button-inverse);
}

dialog > article > header {
  font-weight: bolder;
  font-size: 1rem;
}

dialog > footer .grid button {
  /* Resets margin-bottom for the common case of dialog with buttons in footer */
  margin-bottom: 0;
}

input:not([type='checkbox'], [type='radio'], [type='range'], [type='file'])[type='search'] {
  border-radius: var(--border-radius);
}

[type='file']::file-selector-button {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}
[type='file']::file-selector-button:is(:hover, :active, :focus) {
  --background-color: var(--primary-hover);
  --border-color: var(--primary-hover);
}
[type='file']::-webkit-file-upload-button {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}
[type='file']::-webkit-file-upload-button:is(:hover, :active, :focus) {
  --background-color: var(--primary-hover);
  --border-color: var(--primary-hover);
}
[type='file']::-ms-browse {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}
[type='file']::-ms-browse:is(:hover, :active, :focus) {
  --background-color: var(--primary-hover);
  --border-color: var(--primary-hover);
}

dialog {
  > article {
    > footer {
      display: flex;
      justify-content: flex-end;
      gap: var(--spacing);

      button {
        width: fit-content;
        margin-bottom: 0;
      }
    }
  }
}

div[role='list'] {
  display: grid;
  grid-template-rows: auto;
  row-gap: var(--spacing);
}

div[role='list'] > :not(dialog[open]) {
  min-width: 0px;
}

.text-muted {
  color: var(--muted-color);
}

.header-actions {
  display: flex;
  gap: var(--spacing);
  > a {
    font-weight: normal;
  }

  > button {
    width: fit-content;
    margin-bottom: 0;
  }
}
