/* This file contains brand new additions to PicoCSS specific to GreyCat CSS */

div[role='list'] {
  display: grid;
  grid-template-rows: auto;
  row-gap: var(--spacing);
}

.text-muted {
  color: var(--muted-color);
}
