/* This file contains brand new additions to PicoCSS specific to GreyCat CSS */

div[role='list'] {
  display: grid;
  grid-template-rows: auto;
  row-gap: var(--spacing);
}

div[role='list'] > :not(dialog[open]) {
  min-width: 0px;
}

.text-muted {
  color: var(--muted-color);
}

.header-actions {
  display: flex;
  gap: var(--spacing);
  > a {
    font-weight: normal;
  }

  > button {
    width: fit-content;
    margin-bottom: 0;
  }
}
