:root,
:root:not([data-theme]),
:root:not([data-theme=light]) {
  --text-0: 255, 255, 255;
  --text-1: 215, 215, 215;
  --text-2: 156, 160, 164;
  --text-inverse: 0, 0, 0;

  --base-0: 20, 20, 20;
  --base-1: 40, 40, 40;
  --base-2: 61, 61, 61;

  --accent-0: 192, 248, 95;
  --accent-1: 198, 249, 111;
  --accent-2: 205, 249, 127;

  --neutral-0: 119, 119, 122;
  --neutral-1: 116, 124, 133;
  --neutral-2: 132, 138, 147;

  --color-0: #c0f85f;
  --color-1: #cb9cf8;
  --color-2: #779ef7;
  --color-3: #37c43e;
  --color-4: #5737c4;
  --color-5: #8c1fab;
  --color-6: #4fc0e8;
  --color-7: #f7458e;
  --color-8: #fe7e6d;
  --color-9: #ffe35b;
  --color-10: #fc7db7;
  --color-11: #2237c4;
  --color-12: #3b254c;

  --color-error: #f74318;

  --border-radius: 0.3rem;
  --shadow: 0px 1px 1px 0px rgb(var(--base-1));
}