:root[data-theme=light] {
  --text-0: 0, 0, 0;
  --text-1: 20, 20, 20;
  --text-2: 40, 40, 40;
  --text-inverse: 255, 255, 255;

  --base-0: 255, 255, 255;
  --base-1: 240, 240, 240;
  --base-2: 224, 226, 228;

  --accent-0: 55, 196, 62;
  --accent-1: 178, 246, 58;
  --accent-2: 192, 248, 95;

  --neutral-0: 119, 119, 122;
  --neutral-1: 116, 124, 133;
  --neutral-2: 132, 138, 147;

  --color-0: #a2e163;
  --color-5: #d55ef7;
  --color-7: #d74186;
  --color-8: #fe7d3e;
  --color-9: #ffc645;
  --color-10: #ea70bf;
}
