/* This file is an override of PicoCSS colors/spacings to fit GreyCat's brand guildelines */
dialog > article,
article {
  --block-spacing-horizontal: 0;
  --block-spacing-vertical: 0;

  > header {
    font-weight: bold;
  }

  > :is(header, footer) {
    padding: var(--spacing);
  }
}

sub,
sup {
  font-size: 11px;
}

small {
  --font-size: 12px;
}

h1 {
  --font-size: 28px;
}

h2 {
  --font-size: 25px;
}

h3 {
  --font-size: 21px;
}

h4 {
  --font-size: 18px;
}

h5 {
  --font-size: 15px;
}

:not(thead, tfoot) > * > td {
  --font-size: 12px;
}

input:not([type='submit'], [type='button'], [type='reset'])[disabled],
select[disabled],
textarea[disabled],
:where(fieldset[disabled])
  :is(input:not([type='submit'], [type='button'], [type='reset']), select, textarea) {
  pointer-events: initial;
}

input:not(:is([type='checkbox'], [type='radio'], [type='range'], [type='file']))[type='search']:not(
    :is(
        :lang(ae),
        :lang(ar),
        :lang(arc),
        :lang(bcc),
        :lang(bqi),
        :lang(ckb),
        :lang(dv),
        :lang(fa),
        :lang(glk),
        :lang(he),
        :lang(ku),
        :lang(mzn),
        :lang(nqo),
        :lang(pnb),
        :lang(ps),
        :lang(sd),
        :lang(ug),
        :lang(ur),
        :lang(yi)
      )
  ) {
  padding-left: calc(var(--form-element-spacing-horizontal) + 2.2rem);
}

code,
kbd {
  padding: 0.25rem 0.35rem;
}

pre,
pre > code {
  color: var(--text-0);
}

thead th,
thead td,
tfoot th,
tfoot td {
  --border-width: 2px;
}

details summary[role='button']::after {
  background-image: var(--icon-chevron-button-inverse);
}

dialog article header {
  font-weight: bolder;
  font-size: 1rem;
}

dialog footer .grid button {
  /* Resets margin-bottom for the common case of dialog with buttons in footer */
  margin-bottom: 0;
}

input:not([type='checkbox'], [type='radio'], [type='range'], [type='file'])[type='search'] {
  border-radius: var(--border-radius);
}

[type='file']::file-selector-button {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}
[type='file']::file-selector-button:is(:hover, :active, :focus) {
  --background-color: var(--primary-hover);
  --border-color: var(--primary-hover);
}
[type='file']::-webkit-file-upload-button {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}
[type='file']::-webkit-file-upload-button:is(:hover, :active, :focus) {
  --background-color: var(--primary-hover);
  --border-color: var(--primary-hover);
}
[type='file']::-ms-browse {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
}
[type='file']::-ms-browse:is(:hover, :active, :focus) {
  --background-color: var(--primary-hover);
  --border-color: var(--primary-hover);
}

dialog {
  > article {
    > footer {
      display: flex;
      justify-content: flex-end;
      gap: var(--spacing);

      button {
        width: fit-content;
      }
    }
  }
}
