fieldset {
  border-style: solid;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: var(--spacing);
  padding-inline-start: var(--spacing);
  padding-inline-end: var(--spacing);
  padding-block-end: var(--spacing);
  margin-inline-start: 0;
  min-inline-size: 0;

  border-width: var(--gui-fieldset-border-width);
  border-color: var(--gui-fieldset-border-color);
  background-color: var(--gui-fieldset-background-color);

  legend {
    padding: calc(var(--spacing) * 0.5) var(--spacing);
    background-color: var(--gui-fieldset-legend-background-color);
    border: var(--gui-fieldset-border-width) solid var(--gui-fieldset-border-color);
  }
}
