:host {
  display: contents;
}

sl-card::part(header) {
  --border-width: 0;
}

sl-card::part(body) {
  padding: 0;
}

gui-table {
  --gui-table-filter-border-top-left-radius: 0;
  --gui-table-filter-border-top-right-radius: 0;
  min-height: var(--gui-table-min-height);
}

gui-tbody-row:hover {
  cursor: pointer;
}

gui-role-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
