:host {
  --gui-object-font-size: var(--font-size);
  --gui-object-font-family: var(--sl-font-sans);
  --gui-object-table-min-height: 400px;
  --gui-object-column-gap: calc(var(--spacing) * 2);
  --gui-object-row-gap: 2px;
  --gui-object-fieldname-max-width: 200px;

  display: grid;
}

.field {
  display: contents;
}

.gui-object-card {
  display: grid;
  grid-template-rows: auto 1fr;
}

.gui-object-card::part(body) {
  padding: 0;
}

.gui-object-card > .gui-object {
  padding: var(--spacing);
}

.gui-object-grid {
  display: grid;
  align-content: start;
  grid-template-columns: auto 1fr;
  column-gap: var(--gui-object-column-gap);
  row-gap: var(--gui-object-row-gap);
}

gui-object-fieldname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: var(--gui-object-fieldname-max-width);
}

gui-object-fieldvalue > sl-details {
  margin: 0;
  border: none;
  padding: 0;
}

:host > code {
  width: fit-content;
}

gui-object-fieldvalue > sl-details::part(header) {
  transition: all 0.3s ease;
  line-height: 1rem;
}

gui-object-fieldvalue > sl-details:not([open])::part(header) {
  color: var(--muted-color);
}

gui-object-fieldvalue > sl-details::part(content) {
  padding: 0;
}

gui-object-fieldvalue > sl-details > .gui-object-card::part(base) {
  border-width: 0;
}

gui-object-fieldvalue > sl-details > gui-table {
  min-height: var(--gui-object-table-min-height);
  --gui-table-filter-border-top-left-radius: 0;
  --gui-table-filter-border-top-right-radius: 0;
}

gui-object-fieldvalue > sl-details > gui-object::part(base) {
  --border-width: 0;
  --gui-table-filter-border-top-left-radius: 0;
  --gui-table-filter-border-top-right-radius: 0;
}
